#version=RHEL8
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# Use graphical install
graphical
# Network information
network  --bootproto=dhcp --device=ens160 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=localhost.sahoo
ignoredisk --only-use=nvme0n1
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Intended system purpose
syspurpose --role="Red Hat Enterprise Linux Server" --sla="Standard" --usage="Development/Test"
# Root password
rootpw --iscrypted $6$uc30k0c/3k7KaV44$dBlRJOtpcDbZu9KctUVgzC0TR72oEZeifBQRVtv.LZc5QO8FmhyF9XKZQQV.FHjn8EPtxfPrb63QmBtOU45831
# System timezone
timezone Asia/Kolkata --isUtc
user --groups=wheel --name=saram --password=$6$9Ay/0/iapk7swHOj$KHNrJTIyK2uGT6UoJAmhvtcsUp30XUmtQ4HpwxNzN1uo7Isc8hmHhHnlu/A.x3nImr62OnKhXCx7Z6GmQWGXU. --iscrypted --gecos="saram khan"
# System bootloader configuration
bootloader --location=none
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@debugging
@development
@dotnet-core
@file-server
@ftp-server
@graphical-admin-tools
@guest-agents
@infiniband
@legacy-unix
@mail-server
@network-file-system-client
@network-server
@performance
@remote-desktop-clients
@remote-system-management
@smb-server
@system-tools
@virtualization-client
@virtualization-hypervisor
@virtualization-tools
@web-server
kexec-tools

%end

%addon com_redhat_subscription_manager 
%end
%addon ADDON_placeholder --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
